# Environmental variables for bot
#######################################################################################
### IMPORTANT: THIS FILE CONTAINS SENSITIVE INFORMATION THAT SHOULD NOT BE READABLE ### 
### TO ANYONE EXCEPT THE OWNER. #######################################################
#######################################################################################
DISCORD_TOKEN="PUT DISCORD TOKEN HERE"
FROM_ADDRESS="PUT FROM WALLET ADDRESS HERE"
FROM_PRIV="PUT FROM PRIVATE KEY HERE"
TOKEN_ID="tti_5649544520544f4b454e6e40"
TOKEN_AMOUNT=5
GREYLIST_TIMEOUT=60